---
export interface Props {
  id: string;
  svg: string;
  heading?: string;
  title: string;
  subtitle: string;
  href?: string;
  theme?: "light" | "dark";
}

const {
  id,
  svg,
  heading,
  href,
  title,
  subtitle,
  theme = "light",
} = Astro.props;
---

<li id={id} class="card-li">
  <div class:list={["card", { [`card-${theme}`]: theme }]}>
    <img src={svg} />
    <div>
      {!!heading && <p>{heading}</p>}
      <h2 class:list={[{ [`title-${theme}`]: theme }]}>
        {title}
      </h2>
      <p>
        {subtitle}
      </p>
    </div>
  </div>
</li>

<script define:vars={{ id, href }}>
  const cardDiv = document.getElementById(id);

  cardDiv?.addEventListener("click", () => {
    window.open(href, "_blank").focus();
  });
</script>

<style>
  .card-li {
    list-style-type: none;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    border-radius: 2rem;
    height: 170px;
    transition: all 0.25s;
    cursor: pointer;
  }
  .card:hover {
    transform: scale(1.03);
  }
  .card-light {
    background-color: #f8fafc;
  }
  .card-dark {
    background-color: #314765;
  }
  img {
    width: 56px;
    height: 56px;
  }
  p {
    margin: 0;
    color: #94a3b8;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  h2 {
    margin-block: 0.5rem;
    color: #334155;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .title-light {
    color: #1e293b;
  }
  .title-dark {
    color: white;
  }
</style>
